.missionCard {
  border: 1px solid white;
  border-radius: 5px;
  font-size: 12px;
  height: 100px;
}

.missionList {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
  margin: 0 auto;
  width: 90%;
}

.missions {
  margin: 0 25px;
}

.titulo {
  padding: 10px 0;
  text-align: center;
}

.missionName {
  border-bottom: 1px solid white;
  padding: 5px 0;
  text-align: center;
}

.missionInfo {
  margin: 5px 10px;
}
